.MuiChartsLegend-root {
  display: none !important;
}

.player-table-ppchart {
  background: #333;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: 'center' !important;
}

.player-table-ppchart-header {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .player-table-ppchart-header {
    font-size: 1rem !important;
  }
}

.recharts-responsive-container {
  overflow: visible !important;
}

.MuiTableHead-root {
  z-index: 1 !important;
}

.recharts-tooltip-wrapper {
  z-index: 2000 !important;
  pointer-events: none;
}