.player-table-container{
 width: 100%;
 padding-top: 3rem;
 max-width: none;
 height: 100%;
}
.filters-and-table-container {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  height: 100%;
}
.team-selection-container {
  display: flex; 
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}
.team-formation-container {
  width: 750px !important;
  min-width: 750px !important;
}

@media (max-width: 1200px) {
  .team-selection-container {
    flex-direction: column;
    align-items: center;
  }
  .filters-and-table-container {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 675px) {
  .team-formation-container {
    width: 420px !important;
    min-width: 420px !important;
  }
}
@media (max-width: 475px) {
  .team-formation-container {
    width: 450px !important;
    max-width: 450px !important;
    min-width: 275px !important;
  }
}